
html {
    font-size: 62.5%;
}

body {
    font-family: 'Noticia Text', serif;
    font-weight: bold;
    text-align: center;
    padding: 20% 5%;
    background-color: #eaeaea;
}

.btn {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
    padding: 0 4rem 0 3.8rem;
    color: #333;
    background: #ffff00;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.btn:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 150%;
    background: #5ef7c0;
    pointer-events: none;
    -webkit-transform: translate3d(0, 45px, 0);
    transform: translate3d(0, 45px, 0);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 0.3s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.btn i {
    font-style: normal;
    line-height: 4.5rem;
    display: inline-block;
    height: 100%;
    padding-left: 1px;
    padding-right: 1px;
    -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn i:hover {
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
}
.btn:hover {
    color: #333;
}

/* Move the :after block up on hover */
.btn:hover:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}